*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{
    --min-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
body{
    font-family: "Work Sans" , "sans-serif";
}
header{
    padding:5px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
header .logo{
    height: 30px;
    width: 30x;
}
.links{
    position: relative;
}
.icon{
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
    cursor: pointer;
}
.icon span{
    height:2px;
    margin-bottom: 5px;
    background-color: black;
}
.icon span:first-child{
    width: 100%;
    background-color: black;
}
.icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.icon span:last-child{
    width: 100%;
}
header .links:hover .icon span:nth-child(2){
    width: 100%;
}
header .links ul{
    list-style: none;
    background-color: #f6f6f6;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
header .links ul::before{
    content: "";
    border-color: transparent transparent #f6f6f6 transparent;
    border-width: 10px;
    position: absolute;
    border-style: solid;
    top: -20px;
    right: 5px;
}
header .links:hover ul{
    display: block;
}
header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
header .links ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: 0.3s;
}
header .links ul li a:hover{
    padding-left: 25px;
}
.landing{
    height: calc( 100vh - 80px);
    background-image: url(../images/mountain.jpg);
    background-size:cover;
    position: relative;
}
.landing .intro-text{
margin: 0;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% , -50%);
}
.landing .intro-text h1{
    color:var(--min-color);
    font-weight: bold;
    font-size: 45px;
    margin: 0;
    text-align: center;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
    text-align: center;
    color: white;
    width: 320px;
    max-width: 100%;
}
.features{
    padding: 60px 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    grid-gap:20px ;

}
.features .container .feat{
    text-align: center;
}
.features .container .feat i{
    color: var(--min-color);
}
.features .container .feat h3{
    font-weight: 800;
}
.features .container .feat p{
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}
.services {
padding-top: 60px;
padding-bottom: 60px;
}
.services .container{
    display: block;
}
.special-heading{
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color:#797979;
}
@media (max-width:768px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin: -20px 0 0;
    }
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
  }

  .services .services-content  .srv {
      display: flex;
      margin-bottom: 40px;
  }
  @media (min-width:768px) {
    .services .services-content  .srv {
      flex-direction: column;
      text-align: center;
    }
}
.services .services-content  .srv i{
    color: var(--min-color);
    flex-basis: 60px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    .services .services-content .srv {
      flex-direction: column;
      text-align: center;
    }
  }
  /* .services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
  } */
  .services .services-content .srv .text {
    flex: 1;
  }
  .services .services-content .srv .text h3 {
    margin: 0 0 20px;
  }
  .services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
  }
  .services .services-content .image {
    text-align: center;
    position: relative;
  }
  .services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .services .services-content .image img {
    width: 260px;
  }
  .portfolio .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 100px;
    margin-top: 100px;
  }
 .btn-container{
     display: flex;
     justify-content: center;
     /* align-items: center; */
 }
  .btn-show-more{
      width: 200px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px slategray solid;
      text-align: center;
      margin-bottom: 100px;
      font-weight: 800;
  }
  .btn-show-more:hover{
    border: 3px var(--min-color) solid;
    cursor: pointer;
  }
  .about-grid{
      margin-top: 100px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }
  .line{
      width: 60%;
      border: 2px var(--min-color) solid ;
  }
  .p-one{
      font-weight: bold;
  }
  .p-one,.p-two{
      word-spacing: 7px;
      line-height: 1.5rem;
  }


.img-2{
    width: 300px;
    height: 300px;
    background-image: url(../images/flower1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-bottom: 100px;
}
.img-2::after{
content: "";
height:60%;
border: 40px var(--min-color) solid;
position: absolute;
right: 60px;
top: -20px;
z-index: -1;
}
.img-2::before{
content: "";
border: 40px var(--min-color) solid;
position: absolute;
right: 10px;
bottom: 60px;
z-index: -1;
}

@media (max-width: 1199px) {
    .img-2 {
      display: none;
    }
    .about-grid{
        margin-top: 10px;
     display: block;
     padding-left: 5px;   
    }
  }


  @media (max-width: 1199px) {
    .image-column {
      display: none;
    }
  }
/* Small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* Large  */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}